/*mobile*/
 @media only screen and (min-width : 100px) {
    
     .container{
         max-width: 100%;
         margin: 5px;
         margin: 0 auto;
         
         display: grid;
         grid-gap: 5px;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto;
         grid-template-areas: 
             "nav"
             "nm"
             "ad"
             "al"
             "ads"
             "ft"
     }
       
     p {
    font-family: RobotoRegular;
    color: darkslategrey;
}
     .ad{
         
        grid-area: ad;
         
     }
       .ad > .ad2{
        display: none;
    }
        .ad >.ad1 {
        display: block;
     }
      
     
     .header{
         grid-area: nav;
         display: flex;
         flex-direction: column;
    
         
         border-bottom: 2px solid #b0e0ea;
         padding: 20px 0;
         justify-content: space-evenly;
         align-items: center;
         background: linear-gradient(to right, #f9b32e, #fe0371, #fe0371);
     }
     
     .header nav ul li a{
         color: white;
     }   
    .header .logo a{
         color: white;
     }   
     .header nav ul {
        display: flex;
        flex-direction: ;
        list-style: none;
        font-family: MontserratBold;
        font-size: 1.2em;
         
}

    .header nav li {
        margin-right: 30px;
        color: white;
    }

    .header button {
        border: none;
        padding: 8px 25px;
        color: white;
        font-weight: 600;
        font-family: MontserratBlack;
        cursor: pointer;
        border-radius: .5rem;
        background-color: #f9b32e;
    }

    .header a:link{
        text-decoration: none;
        color: white;
    } 


    .header a:hover{
      color: #36c6f2;
    } 

    .logo {
      font-size: 2em;
      font-family: MontserratBlack;
    }
     .search{
         margin-top: 8px;
         font-family: RobotoRegular;
         
     }
     ::placeholder{
         color: #fe0371;
        
     }
     .go{
         border: none;
         margin-top: 8px;
         background-color: #f9b32e;
         color: white;
         font-weight: 600;
         font-family: MontserratBlack;
         cursor: pointer;
         padding: 5px;
         border-radius: .5rem;
     }
     
     
     
     .newsmark{
         grid-area: nm;
         
         display: flex;
         flex-direction: column;
         
     }
     .allnews{
        padding-top: 10px;
         grid-area: al;
         
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
         
     }
   
     
     
     .ads{
         
         grid-area: ads;
         display: flex;
         flex-direction: column;
     }
     
     .footer{
         
         grid-area: ft;
         
         display: flex;
         flex-wrap: wrap;
         flex-direction:row;
         
         
        
         cursor: pointer;
         color: white;
         text-align: center;
         padding: 20px 0;
         background: linear-gradient(to right, #f9b32e, #f9b32e, #fe0371, #fe0371, #fe0371);
     }
     .links{ 
        margin-left:20px;
        
         
     }
     .logo2{
         font-size: 1.5em;
         font-family: MontserratBlack;
         flex-direction:row;
         margin-left: 60px;
         
         
     }
     .footerbuttons {
         
     }
     .contact{
         margin-left: 15px;
     }
     .logofooter > h3{
         
    }
     .footerbuttons ul{
         list-style: none;
         grid-area: ;
         display: flex;
         flex-direction: column;
     }
     .contact ul{
         list-style: none;
     }
     .contact ul li{
         color: white;
     }
     .links ul{
         list-style: none;
         font-family: PlayfairDisplayRegular;
         font-size: 1em;
     }
    .links ul li a{
    color: white;
        
}
     
    .footer a:link{
    text-decoration: none;
    color: white;
    
}

     .footer a:hover{
    text-decoration: underline;
    background-color: white;
}

     a:link{
         text-decoration: none;
     }

     img{
         max-width: 100%;
     }
     
     .trendingmark, .newsmark, .reviewmark, 
     .videomark{
         background: linear-gradient(to right, #f9b32e, #fe0371, white);
         margin-left: 2px;
         margin-bottom: 10px;
     }
    h1{
         font-family: PlayfairDisplayBold;
         color:#f9b32e;
         }
     h2{ 
         font-family: PlayfairDisplayRegular;
         color:#f9b32e;
         
     }
     h3{
         font-family:
         MontserratBold;
         color: white;
     }
     h4{
         font-family:PlayfairDisplayRegular;
         color: darkslategrey;
         
     }
     h5{
        font-family: RobotoItalic;
         font-size: 1em;
         color: darkslategrey;
     }
     p > a{
         color: #fe0371;
     }
}/*end of first media query*/


/*small devices
@media only screen and (min-width : 768px) {
    .container{
         max-width: 100%;
         margin: 5px;
         margin: 0 auto;
         
         display: grid;
         grid-gap: 5px;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-rows: auto; 
         grid-template-areas: 
             "nav nav nav nav"
             "nm nm nm nm"
             "a a a a"
             "al al al al"
             "ads ads ads ads"
             "rm rm rm rm"
             "ft ft ft ft";
     }
    
     .ad{
         
         grid-area: ad;
         padding-bottom: 20px;
         padding-top: 20px;
         
     }
  
    .ad > .ad1{
        display: none;
    }
    .ad >.ad2 {
        display: block;
    }
     .header{
         grid-area: nav;
         display: flex;
         flex-direction: column;
     }
      
     .header nav ul {
        display: flex;
        flex-direction: ;
        list-style: none;         
}

    .header a:link{
        text-decoration: none;
        color: white;
    } 


    .header a:hover{
      color: #36c6f2;
    } 

    .logo {
      font-size: 2em;
      font-family: MontserratBlack;
    }
     
    .newsmark{
         grid-area: nm;
         
         display: flex;
         flex-direction: column;
         
     }
     .allnews{
        padding-top: 10px;
         grid-area: al;
         display: flex;
         flex-direction: row; 
         display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
     }
     .ads{
         
         grid-area: ads;
         display: flex;
         flex-wrap: wrap;
         flex-direction:row;
    }
     
     .footer{
         
         grid-area: ft;
         
         display: flex;
         flex-wrap: wrap;
         flex-direction:row;
       
     }
     .links{ 
        margin-left:20px;
        
     }
     .logo2{
         font-size: 1.5em;
         flex-direction:row;
         margin-left: 60px;
         
         
     }
     .footerbuttons {
         
     }
     .contact{
         margin-left: 20px;
     }
     .logofooter > h3{
         
    }
     .footerbuttons ul{
         list-style: none;
         grid-area: s;
         display: flex;
         flex-direction: column;
    }

   

} *end of second media query*/


/*large devices*/

@media only screen and (min-width : 1000px) {
    
    .container{
         max-width: 100%;
         margin: 5px;
         margin: 0 auto;
         
         display: grid;
         grid-gap: 5px;
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: auto; 
         grid-template-areas: 
             "nav nav nav nav nav nav"
             "nm nm nm nm nm nm "
             "ad ad ad ad ad ad "
             "al al al al al al"
             "ads ads ads ads ads ads"
             "ft ft ft ft ft ft";
     }
.ad{
         
         grid-area: ad;
         padding-bottom: 20px;
         padding-top: 20px;
         
     }
  
    .ad > .ad1{
        display: none;
    }
    
    .ad >.ad2 {
        display: block;
    }
    
     .header{
         grid-area: nav;
         display: flex;
         flex-direction: row;
         padding: 10px 0;
         justify-content: space-evenly;
         align-items: center;
         
     }
     
      
     .header nav ul {
        display: flex;
        list-style: none;
        font-size: 1.5em;
}

    .header nav li {
        margin-right: 50px;
        margin-left: 50px;
    }

    .header button {
        border: none;
        padding: 10px 35px;
        color: white;
        font-weight: 100;
        font-size: 1.2em;
        border-radius: .5rem;

    }

    .logo {
      
        font-size: 2.2em;
        font-family: MontserratBlack;
    }
     
    .newsmark{
         grid-area: nm;
         
         display: flex;
         flex-direction: column;
         
     }
     .allnews{
        padding-top: 10px;
        grid-area: al;
        width: 100%
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
        
         
     }
     .ads{
         
         grid-area: ads;
         display: flex;
         flex-wrap: wrap;
         flex-direction:row;
         justify-content: space-between;
    }
     
     .footer{
         
         grid-area: ft;
         
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-between;
     }
     .links{ 
        margin-left:20px;
        display:flex;
         
        
         
     }
     .logo2{
         font-size: 1.5em;
         
         flex-direction:row;
         margin-left: 60px;
         
         
     }
     .contact{
         margin-left: 20px;
     }

     .footerbuttons ul{
         list-style: none;
         grid-area: s;
         display: flex;
         flex-direction: column;
     }
     .contact ul{
         list-style: none;
     }
    }/*end of fourth media query*/


/*fonts*/

@font-face {
    font-family: MontserratBlack;
    src: url("Montserrat-Black.ttf");
}

@font-face {
    font-family: MontserratBold;
    src: url("Montserrat-Bold.ttf");
}

@font-face {
    font-family: RobotoLight;
    src: url("Roboto-Light.ttf");
}
@font-face {
    font-family: RobotoMedium;
    src: url("Roboto-Medium.ttf");
}
@font-face {
    font-family: RobotoRegular;
    src: url("Roboto-Regular.ttf");
}
@font-face {
    font-family: RobotoItalic;
    src: url("Roboto-Italic.ttf");
}
@font-face {
    font-family: RobotoBold;
    src: url("Roboto-Bold.ttf");
}
@font-face {
    font-family: RobotoBlackt;
    src: url("Roboto-Black.ttf");
}

@font-face {
    font-family: PlayfairDisplayItalic;
    src: url("PlayfairDisplay-Italic.ttf");
}
@font-face {
    font-family: PlayfairDisplayRegular;
    src: url("PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: PlayfairDisplayBold;
    src: url("PlayfairDisplay-Bold.ttf");
}
@font-face {
    font-family: PlayfairDisplayBoldItalic;
    src: url("PlayfairDisplay-BoldItalic.ttf");
}
@font-face {
    font-family: PlayfairDisplayBlack;
    src: url("PlayfairDisplay-BlackItalic.ttf");
}